{extend name="layout" /}

{block name="title"}文档处理{/block}

{block name="css"}
<style>
    .form {
        position: relative;
        top: 50%;
    }
</style>
{/block}

{block name="content"}
<div class="row">
    <div class="col-10 offset-1">
        {include file="alert" /}
        <form class="form" method="post" action="{:url('index/Document/handle')}" enctype="multipart/form-data">
            <div class="form-group">
                <label for="exampleFormControlFile1">请选择需要处理的 EXCEL 文档</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1" name="file">
            </div>
            <button type="submit" class="btn btn-success btn-lg btn-block submit-btn" title="使用新版 office excel 文档, 尽量保证数据的整洁以提高处理效率">提交处理</button>
        </form>

    </div>
</div>
{/block}
