{extend name="layout" /}

{block name="title"}商家管理{/block}

{block name="css"}
{/block}

{block name="content"}
<div class="row">
    <div class="col-12">
        <div class="list-title">
            <h4>编辑收单员</h4>
            <a href="{:url('index/Collector/index')}" class="btn btn-success btn-sm">返回</a>
        </div>

        {include file="alert" /}

        <div>
            <form style="padding-top: 1rem;" method="post" action="{:url('index/Collector/update', ['id' => $collector.id])}">
                <input type="hidden" name="_method" value="PUT" >
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">姓名</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputEmail3" name="name" placeholder="请输入收单员姓名" value="{$collector.name}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">佣金</label>
                    <div class="col-sm-10">
                        <input type="number" step="0.01" class="form-control" id="inputPassword3" name="commission" placeholder="请输入该收单员的佣金" value="{$collector.commission}">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary" style="width: 10rem">修改</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{/block}
